.form-container{
    margin:6rem 7rem;
    padding: 1rem;
    background-color: #38015c;
    border-radius: 6px;
    width: 60%;
    max-width: 25rem;
    
}
.form-container h1{
    color: white;
    text-align: center;
}
.form-container p{
    color: white;
    text-align: center;
    cursor: pointer;
}
.form-container p{
    color: white;
    text-align: center;
    cursor: pointer;
}
.form-container p:hover{
    color: goldenrod;
}
.form-container label{
    color: white;
}
.form-container input{
    width: 100%;
    padding: 0.25rem;
    border-radius: 3px;
    font: inherit;
    margin-top: 0.5rem;
}
.action{
    text-align: center;
    padding: 1rem;
}
.action button{
    padding: 0.3rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
}
.action button:hover{
    background-color: #d5afed;
}
